
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		#form {
			margin-left: 15px;
		}
		.form-group {
			display: inline-block;
			width: 400px;
			margin-left: 10px;
		}

	</style>
</head>
<body>



<h1>Employee Information</h1>
<div id="form">
	<form action="/users/<%= @user.id %>" method="post">
		<input type="hidden" name="_method" value="patch">
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


		<div class="form-group">
		    <label for="user[first]">First Name</label>
		    <input type="text" class="form-control" name="user[first]" value="<%= @user.first %>">    
		  </div>
		  <div class="form-group">
		    <label for="user[last]">Last Name</label>
		    <input type="text" class="form-control" name="user[last]" value="<%= @user.last %>">
		  </div>
		  <div class="form-group">
		    <label for="user[email]">Email</label>
		    <input type="email" class="form-control" name="user[email]" value="<%= @user.email %>">		     
		  </div>   
		  <div class="form-group">   
		    <label for="user[address]">Address</label>
		    <input type="text" class="form-control" name="user[address]" value="<%= @user.address %>">	    
		  </div>
		  <div class="form-group">
		    <label for="user[city]">City</label>
		    <input type="text" class="form-control" name="user[city]" value="<%= @user.city %>">
		  </div>
		  <div class="form-group">
		    <label for="user[state]">State</label>
		    <input type="text" class="form-control" name="user[state]" maxlength="2" value="<%= @user.state %>">
		  </div>
		
	<!-- 	<div class="form-group">
		    <label for="user[password]">Password</label>
		    <input type="password" class="form-control" name="user[password]"> 
		  </div>
		  <div class="form-group">
		    <label for="user[password_confirmation]">Confirm Password</label>
		    <input type="password" class="form-control" name="user[password_confirmation]">
		  </div>  -->


		<% if current_user.admin %>	
		<div class="form-group">
		    <label for="user[position]">Job Title</label>
		    <select multiple class="form-control" id="exampleFormControlSelect2" name="user[position]">
		    <% @positions.each do |p| %>
		    	<% if p.id == @user.position.id %>
		    		<option value="<%= p.id %>" selected><%= p.title %></option>				
				<% else %>
					<option value="<%= p.id %>"><%= p.title %></option>
				<% end %>		     		
		    <% end %>
		    </select>
		  </div><br>
		  <label>Administrator</label>
		 <div class="form-check">
		  <input class="form-check-input" type="radio" name="user[admin]" id="exampleRadios2" value="true">
		  <label class="form-check-label" for="exampleRadios2">
		    True
		  </label>
		</div>	
		<div class="form-check">
		  <input class="form-check-input" type="radio" name="user[admin]" id="exampleRadios1" value="false" checked>
		  <label class="form-check-label" for="exampleRadios1">
		    False
		  </label>
		</div>
	
	    <% end %>
	    <button type="submit" class="btn btn-primary">Update</button>
	    		
	</form>
</body>
</html>